/* header.css */



header {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center; 
    gap: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #111;
    line-height: 1; 
    
}

.logo img {
    width: 60px;
    height: 60px; 
    object-fit: contain;
    display: block;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.68s;
}

.nav a:hover {
    color: #007bff;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    display: inline-block;
}

.btn.book {
    background-color: #007bff;
    color: #fff;
    transition: 0.68s;
}

.btn.book:hover {
    background-color: #0158b4;
    color: #fff;
}

.btn.sign {
    background-color: #e5e5e5;
    color: #111;
    transition: 0.68s;
}

.btn.sign:hover {
    filter: brightness(85%);
}

.right-content {
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre links y botones */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    border: none;
    margin: 2px 0;
}

#carrito:hover {
    background-color: #007bff;
    color: #fff;
}

#logout:hover {
    background-color: #ff6b6b;
    color: #fff;
}
