body {
    background: radial-gradient(circle at center, #ffffff 0%, #f7fbfe 40%, #e1f1fd 100%);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* <- esta línea es clave */
}

/* Inputs generales */
input[type="text"],
input[type="number"],
input[type="file"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 0.7rem 1rem;
  margin: 0.2rem 0;
  border: none;
  border-radius: 1rem;
  background-color: #d6d6d6;
  border: #d4847f 1px solid;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  resize: vertical;
}

/* Botones base */
button,
.btn {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: #fff;
  transition: background-color 0.3s;
  user-select: none;
}

    